<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub App</title>
</head>
<body>
    <h1>At Foo Bar </h1> 
    <a href="/drinks"><button>Return to List of drinks</button></a>
    <h2>
        <%=drink.name.replace(/\w/, c => c.toUpperCase()) %>
    </h2>

    <h3> Drink price:
        $<%=drink.price%>
    </h3> <br>



    <img src="<%=drink.image%>">






    <style type="text/css">
     body {
    color: black;
    background-color:beige;
    }
    </style>
    
</body>
</html>